<% layout('layouts/boilerplate')%>

  <div class="row">
    <div class="col offset-3">
      <div class="card">
        <div id='map' style='width: 400px; height: 300px;'></div>
        <div class="card-body">
          <h5 class="card-title">Single Data</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Social security: <%= firearm.socialsecurity %>
          </li>
          <li class="list-group-item">First name: <%= firearm.firstname %>
          </li>
          <li class="list-group-item">Middle name: <%= firearm.middlename %>
          </li>
          <li class="list-group-item">Last name: <%= firearm.lastname %>
          </li>
          <li class="list-group-item">Gun name: <%= firearm.gunname %>
          </li>
          <li class="list-group-item">Serial number: <%= firearm.serialnumber %>
          </li>
          <li class="list-group-item">Location bought: <%= firearm.locationbought %>
          </li>
          <li class="list-group-item">Dealer name: <%= firearm.dealername %>
          </li>
        </ul>
        <div class="card-body">
          <a href="/gunsee/<%=firearm._id%>/edit" class="card-link">Edit</a>
          <a href="/gunsee">Back To Registered Citizens</a>
        </div>
      </div>

    </div>
  </div>
  <p>
  <form action="/gunsee/<%=firearm._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  </p>
  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const firearm = <%- JSON.stringify(firearm) %>
  </script>

  <script src="/javascripts/showPageMap.js"></script>